# created by virtualenv automatically
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.env

# PyCharm
.idea/
*.iml
*.iws
*.ipr

# Flask
instance/
.webassets-cache

# Database
*.db
*.sqlite

# Virtual Environment
bin/
lib/
pyvenv.cfg

# Local development tools
db_viewer1.py
db_viewer2.py